$backgroundColor: #c3cfe2;
$backgroundText: #fff;
$backgroundFooter: #686de0;

$mainText: #666;
$nameText: #fff;
$siteText: #ccc;

$fontSize: 18px;

$borderRadius: 20px;

$size: 50px;

$transition: 500ms ease;

$width: 220px;


